<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
  <header>
    <% include partials/header.ejs %>
  </header>
  <div class="container">
    <div class="card">
      <div class="card-header text-center">
        Welcome to the best broadcasting system
      </div>
      <div class="card-body text-center text-justify font-weight-bold">
        <h4 class="modal-title w-100 font-weight-bold">Choose a username</h4>
        <div class="container" style="display: inline-block">
          <div class="md-form mb-5">
            <input type="text" id="username" class="form-control validate">
          </div>
          <a class="btn btn-lg btn-success" href="">Enter</a>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
