<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body>
<header>
    <% include partials/header.ejs %>
</header>
<div class="container text-center">
    <div class="card">
        <div class="card-header">
            <div>
                Enter the world of broadcasting
            </div>
        </div>
        <form method="POST" action="/users/enter">
            <div class="control-group">
                <!-- Username -->
                <label class="control-label" for="username">Choose a username. If you already have one just type and you
                    will see your incoming messages (if any).</label>
                <div class="controls">
                    <input type="text" id="username" name="username" class="input">
                </div>
            </div>
            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <button class="btn btn-success" id="enterSystem">Enter</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</body>
</html>
